body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:#659287;
}
.main{
    background-color: rgb(62, 60, 60);
    width: 300px; 
    display:grid;
      grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
     column-gap: 0px;
}
#box{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:3px,solid,black;
     display:flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(24, 134, 230);
    
}
.reset{ 
    position: relative;
    top:30vh;
    height:60px;
    border-radius: 40%;
    width:60px;
    background-color: antiquewhite;
    border:5px,solid,black;
         display:flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
  background-color: black;
color: rgb(255, 255, 255);
   }
   .robo{ 
      position: absolute;
    top:76.5vh;
    left:52px;
    height:60px;
    border-radius: 40%;
    width:60px;
    
    background-color: antiquewhite;
    border:5px,solid,black;
         display:flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
  background-color: black;
color: rgb(255, 255, 255);
   }
